[Unit]
Description=Binary Clock
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/clock

[Install]
WantedBy=multi-user.target